src/main/mule/implementations/get.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="queryOrder" doc:id="9508f5fc-7ee2-4845-9a0d-00718f6893e3">
		<ee:transform doc:name="Where Filter" doc:id="feb406ef-a2a3-42d4-83f4-83660648a4e1">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="soqlFilter"><![CDATA[%dw 2.0
import modules::soql

var sqlFilter1 = soql::soqlBuilder("", "AND",
        soql::stringParameter("poNumber__c", vars.poNumber))
var sqlFilter2 = soql::soqlBuilder(sqlFilter1, "AND",
        soql::stringParameter("Id", vars.orderId))
output application/json
---
sqlFilter2]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Order" doc:id="63425a56-c6ca-4104-aefe-f5dbe2664129" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT id, poNumber__c, signatureRequiredFlag__c, shipInstructions__c,
  giftWrapFlag__c, giftWrapMessage__c, currencyCode__c, 
  subTotal__c, email__c, Name, customerId__c
FROM Order__c
:soqlFilter]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	soqlFilter : vars.soqlFilter
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Order Payload" doc:id="489d5287-834d-4082-83f1-e73d89e99cb9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output json

---
payload map (item, value) ->
{
    poNumber: item.poNumber__c,
    signatureRequiredFlag: item.signatureRequiredFlag__c,
    shipInstructions: item.shipInstructions__c,
    giftWrapFlag: item.giftWrapFlag__c,
    giftWrapMessage: item.giftWrapMessage__c,
    currencyCode: item.currencyCode__c,
    subTotal: item.subTotal__c,
    email: item.email__c,
    orderId: item.Id,
    customerId: item.customerId__c    
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9673cf35-2cd2-40b1-bdd0-5e668505e1a8">
				<set-variable value="500" doc:name="status 500" doc:id="039f8af5-5d13-44a9-b371-008a60ab40ca" variableName="httpStatus" />
				<ee:transform doc:name="Error Message" doc:id="4ffda1ba-01ac-4409-a9d5-56376c01f179">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "There was a problem while trying to access the backend repository"
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get:\orders" doc:id="115eb47b-4ec0-43d9-8b29-d0730b242a39">
		<json-logger:log-start doc:name="Log start" doc:id="fb391f4e-2186-42c3-8669-55b31d438722" config-ref="JSON_Logger_Config" message='#["Get order by poNumber=" ++ attributes.queryParams.poNumber]'>
			<json-logger:content><![CDATA[#[import modules::JSONLoggerModule
import * from dw::util::Values
output application/json
---
{
    openTelemetry: JSONLoggerModule::stringifyNonJSON(vars.OTEL_TRACE_CONTEXT default "") 
}]]]></json-logger:content>
		</json-logger:log-start>
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;{&#10;    "poNumber": attributes.queryParams.poNumber default ""&#10;}]' doc:name="otel Tags" doc:id="fc585ebf-315a-48e5-8467-2923c5066171" variableName="openTelemetryTags" />
		<set-variable value="#[attributes.queryParams.poNumber]" doc:name="poNumber" doc:id="00b1fce3-02e1-49d6-b745-4e4c54c71eed" variableName="poNumber"/>
		<flow-ref doc:name="queryOrder" doc:id="5dba8858-bea6-4514-8911-de8354cb8b34" name="queryOrder"/>
	</flow>
	<flow name="get:\orders\(orderId)" doc:id="c30cd35a-d1f5-4099-bc4c-f5da735a2e8d" >
		<json-logger:log-start doc:name="Log start" doc:id="faccbcf8-0735-40f7-8444-bac41fb15fe4" config-ref="JSON_Logger_Config" message='#["Get order orderId=" ++ attributes.uriParams.orderId]'>
			<json-logger:content><![CDATA[#[import modules::JSONLoggerModule
import * from dw::util::Values
output application/json
---
{
    openTelemetry: JSONLoggerModule::stringifyNonJSON(vars.OTEL_TRACE_CONTEXT default "") 
}]]]></json-logger:content>
		</json-logger:log-start>
		<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;{&#10;    "orderId": attributes.uriParams.orderId default ""&#10;}]' doc:name="otel Tags" doc:id="711b63d1-3c74-4813-b239-6af47b4a65d2" variableName="openTelemetryTags" />
		<set-variable value="#[attributes.uriParams.orderId]" doc:name="orderId" doc:id="6672c9c4-9b68-4f2d-9232-98edb244fa6a" variableName="orderId"/>
		<flow-ref doc:name="queryOrder" doc:id="513ef3fb-7755-47a1-8b49-13263bd7ac6e" name="queryOrder" />
		<ee:transform doc:name="get Order" doc:id="ca9e06ba-76f4-484b-bcce-f2a6b9122ec5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0] default '']]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
